<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsu.taichi.mapper.ModelsMapper">

    <resultMap id="BaseResultMap" type="com.bsu.taichi.content.entity.dbo.Models">
            <id property="modelId" column="model_id" />
            <result property="projectId" column="project_id" />
            <result property="modelName" column="model_name" />
            <result property="modelType" column="model_type" />
            <result property="modelObjectKey" column="model_object_key" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        model_id,project_id,model_name,model_type,model_object_key,create_time
    </sql>
</mapper>
